@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
background-color: rgb(238, 234, 234);
position: sticky;
}
.iconList li h1 , .iconList li a{
  width: 80% !important;
}
.iconList li {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button {
  background-color: rgba(255, 20, 145, 0.603);
  border: none;
  color: white;
  border: 2px solid #f7efef;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}